@{
    ViewData["Title"] = "Change Password Confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow text-center">
                <div class="card-header bg-success text-white">
                    <h4>You are blocked by Admin</h4>
                </div>
                <div class="card-body">
                    <p class="text-muted">
                        You have been blocked by admin. You can't Login untill you are unblocked again.
                    </p>
                    <hr />
                    <div class="d-grid">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-2">
                            Return to Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
